<div class="panel panel-primary d3-setting-panel hidden">
    <div class="panel-heading">
        <div class="panel-title">
            <h4 id="settingPanelTitle">Settings</h4>
        </div>
    </div>
    <div class="panel-body" id="setting-panel">
        <div class="panel-group" id="accordion">
            <!-- Layout Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#layoutPanel">
                        Layout</a>
                </h4>
                </div>
                <div id="layoutPanel" class="panel-collapse collapse">

                    <div class="panel-body">

                        <div class="form-group">
                            <h5 for="layoutSwitches">Switches</h5>
                            <input id="layoutLinLogMode" type="checkbox"> LinLogMode <br>
                            <input id="layoutStrongGravityMode" type="checkbox"> StrongGravityMode <br>
                            <input id="layoutOutboundAttractionDistribution" type="checkbox"> OutboundAttractionDistribution <br>
                            <input id="layoutAdjustSizes" type="checkbox"> AdjustSizes <br>
                            <input id="layoutBarnesHutOptimize" type="checkbox"> BarnesHutOptimize <br>
                        </div>

                        <div class="form-group">
                            <h5 for="layoutGravity">Gravity</h5>
                            <input id="layoutGravity" data-slider-id='layoutGravitySlider' type="text" data-slider-min="-10" data-slider-max="500" data-slider-step="1" data-slider-value="30" />
                        </div>

                        <div class="form-group">
                            <h5 for="layoutBarnesHutTheta">BarnesHutTheta</h5>
                            <input id="layoutBarnesHutTheta" data-slider-id='layoutBarnesHutThetaSlider' type="text" data-slider-min="-10" data-slider-max="10" data-slider-step="0.1" data-slider-value="0.1" />
                        </div>

                        <div class="form-group">
                            <h5 for="layoutEdgeWeightInfluence">EdgeWeightInfluence</h5>
                            <input id="layoutEdgeWeightInfluence" data-slider-id='layoutEdgeWeightInfluenceSlider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" />
                        </div>


                        <div class="form-group">
                            <h5 for="layoutSlowDown">SlowDown</h5>
                            <input id="layoutSlowDown" data-slider-id='layoutSlowDownSlider' type="text" data-slider-min="50" data-slider-max="1000" data-slider-step="10" data-slider-value="200" />
                        </div>
                    </div>

                </div>
            </div>
            <!-- Label Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#labelPanel">
                        Label</a>
                </h4>
                </div>
                <div id="labelPanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <h5>Text:</h5>
                            <div id="labelOption" class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default" value="id">
                                    <input type="radio" name="labelOption" value="id" autocomplete="off" checked>ID
                                </label>
                                <label class="btn btn-default" value="term">
                                    <input type="radio" name="labelOption" value="term" autocomplete="off">Term
                                </label>
                                <label class="btn btn-default" value="none">
                                    <input type="radio" name="labelOption" value="none" autocomplete="off">None
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Color / Opacity:</h5>
                            <input id="labelColor" class="jscolor" value="AABBAA" style="float: left">
                            <div style="margin-left: 190px;">
                                <input id="labelOpacity" data-slider-id='labelOpacitySlider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.05" data-slider-value="0.8" />
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Scale:</h5>
                            <input id="labelScale" data-slider-id='labelScaleSlider' type="text" data-slider-min="0.1" data-slider-max="4" data-slider-step="0.1" data-slider-value="1" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Node Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#nodePanel">Node</a>
                </h4>
                </div>
                <div id="nodePanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <h5>Scale:</h5>
                            <input id="nodeScale" data-slider-id='nodeScaleSlider' type="text" data-slider-min="0.1" data-slider-max="10" data-slider-step="0.1" data-slider-value="1" />
                        </div>
                        <div class="form-group">
                            <h5>Border Color/Opacity:</h5>
                            <input id="nodeBorderColor" class="jscolor" value="ab2567" style="float: left">
                            <div style="margin-left: 190px;">
                                <input id="nodeBorderOpacity" data-slider-id='nodeBorderOpacitySlider' type="text" data-slider-min="0.0" data-slider-max="1" data-slider-step="0.05" data-slider-value="0.8" />
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Border Width:</h5>
                            <input id="nodeBorderWidth" data-slider-id='widthSlider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="1" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edge Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#edgePanel">Edge</a>
                    </h4>
                </div>
                <div id="edgePanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            <h5>Color / Opacity:</h5>
                            <input id="edgeColor" class="jscolor" value="ab2567" style="float: left">
                            <div style="margin-left: 190px;">
                                <input id="edgeOpacity" data-slider-id='edgeOpacitySlider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.05" data-slider-value="0.6" />
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Weight:</h5>
                            <input id="edgeScale" data-slider-id='edgeScaleSlider' type="text" data-slider-min="0.5" data-slider-max="5" data-slider-step="0.5" data-slider-value="1" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Color Scheme Panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#schemePanel">
                        Color schemes</a>
                </h4>
                </div>
                <div id="schemePanel" class="panel-collapse collapse">
                    <div id="nodeSchemes" class="panel-body">

                        <div id="linear2" class="form-group">
                            <h5>Linear-2: </h5>
                            <div style="position:relative; width: 100%; height: 35px">
                                <canvas id="palette" width="100" height="1" style="width:100%; height:30px"></canvas>
                                <input id="value1" class="text" value="-1" style="position:absolute;width:80px; left:5px;top:5px;text-align:left; background:none;border:none;">
                                <input id="value2" class="text" value="0" style="position:absolute;width:80px; right:5px;top:5px;text-align:right; background:none;border:none;">
                            </div>
                            <div class="row" style="width:100%; margin-left:0px; margin-right:0px;">
                                <div class="col-xs-6" style="padding-left:0px; padding-right:0px;">
                                    <input id="color1" class="jscolor" value="0E0F7E" style="width:100%; text-align: left;">
                                </div>
                                <div class="col-xs-6" style="padding-left:0px; padding-right:0px;">
                                    <input id="color2" class="jscolor" value="EBEEED" style="width:100%; text-align: right;">
                                </div>
                            </div>
                        </div>

                        <div id="dualPos" class="form-group">
                            <h5>Dual <small>Pos:</small></h5>
                            <div style="position:relative; width: 100%; height: 35px">
                                <canvas id="palette" width="100" height="1" style="width:100%; height:30px"></canvas>
                                <input id="value1" class="text" value="0" style="position:absolute;width:80px; left:5px;top:5px;text-align:left; background:none;border:none;">
                                <input id="value2" class="text" value="0.05" style="position:absolute;width:80px; right:5px;top:5px;text-align:right; background:none;border:none;">
                            </div>

                            <div class="row" style="width:100%; margin-left:0px; margin-right:0px;">
                                <div class="col-xs-6" style="padding-left:0px; padding-right:0px;">
                                    <input id="color1" class="jscolor" value="9e1617" style="width:100%; text-align: left;">
                                </div>
                                <div class="col-xs-6" style="padding-left:0px; padding-right:0px;">
                                    <input id="color2" class="jscolor" value="FFFFFF" style="width:100%; text-align: right;">
                                </div>
                            </div>
                        </div>
                        <div id="dualNeg" class="form-group">
                            <h5>Dual <small>Neg:</small></h5>
                            <div style="position:relative; width: 100%; height: 35px">
                                <canvas id="palette" width="100" height="1" style="width:100%; height:30px"></canvas>
                                <input id="value1" class="text" value="0" style="position:absolute;width:80px; left:5px;top:5px;text-align:left; background:none;border:none;">
                                <input id="value2" class="text" value="0.05" style="position:absolute;width:80px; right:5px;top:5px;text-align:right; background:none;border:none;">
                            </div>

                            <div class="row" style="width:100%; margin-left:0px; margin-right:0px;">
                                <div class="col-xs-6" style="padding-left:0px; padding-right:0px;">
                                    <input id="color1" class="jscolor" value="006a9c" style="width:100%; text-align: left;">
                                </div>
                                <div class="col-xs-6" style="padding-left:0px; padding-right:0px;">
                                    <input id="color2" class="jscolor" value="FFFFFF" style="width:100%; text-align: right;">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END setting menu -->
            </div>
        </div>
    </div>
</div>
